@model IEnumerable<HWEShop.Models.EntityFramework.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
  
        <th>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ProductImage)
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.Categories.CategoryName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Users.UserName)
        </td>

        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
